.navigation {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(20, 9, 19);
  justify-content: space-between;
  padding: 20px 60px;
  text-align: justify;
}

.hero-content {
  position: relative;
  margin-bottom: 60px;
}

.hero-content img {
  width: 100%;
  flex-grow: 1;
  margin-right: 40px;
  border-radius: 20px;
}

.hero-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 54px;
  text-transform: uppercase;
  color: rgb(7, 6, 6);
}
.hero-content li {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  text-align: center;
  top: 100%;
  transform: translate(0%, -3300%);
  color: rgb(134, 60, 60);
  margin-left: 250px;
  position: relative;
}
footer {
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(20, 9, 19);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 50px 600px;
}

.section {
  width: 100%;
  max-width: 2000px;
  margin: 20px auto 80px;
}

.section-features {
  display: flex;
  justify-content: space-between;
}

.section-features .feature {
  width: 30%;
}

.section-features .feature img {
  width: 100%;
}

.section-features .feature-text {
  display: block;
  margin: 12px 0 16px;
  font-size: 35px;
  font-weight: bold;
}

.section-features .feature-sub-text {
  display: block;
  font-size: 25px;
  text-align: justify;
}

.navigation2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 600px;
}
.navigation2 h1 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: blueviolet;
}

.footer-links2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 600px;
}
